.card_left {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  width: 100vw;
  height: fit-content;
  margin-bottom: 40vh;
  padding: 4rem 0;
  background-color: skyblue;
}

.card_right {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  width: 100vw;
  height: fit-content;
  margin-bottom: 40vh;
  padding: 4rem 0;
  background-color: skyblue;
}

.section_left {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  width: 100vw;
  height: fit-content;
  margin-bottom: 40vh;
  padding: 4rem 0;
  background-color: skyblue;
}

.section_right {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  width: 100vw;
  height: fit-content;
  margin-bottom: 40vh;
  padding: 4rem 0;
  background-color: skyblue;
}

.image {
  max-width: 50vw;
  min-width: 25vw;
  max-height: 50vw;
  min-height: 25vw;
  width: auto;
  height: auto;
}

.text {
  font-size: 1.1vw;
  color: #323031;
  max-width: 30vw;
  margin-left: 1vw;
  text-align: justify;
}

.link {
  width: 56.1vw;
}

.title {
  padding: 2rem;
  font-size: 2vw;
}

.cena {
  padding: 2rem;
  padding-top: 0;
  font-size: 1.5vw;
  max-width: 30vw;
}

.size {
  padding: 2rem;
  padding-top: 0;
  font-size: 1.5vw;
  max-width: 30vw;
}

.content {
  padding: 2rem;
  padding-top: 0;
  font-size: 1.2vw;
  max-width: 30vw;
  text-align: justify;
}

.size_left {
  padding: 2rem;
  padding-top: 0;
  font-size: 1.5vw;
  text-align: justify;
  max-width: 30vw;
}
